page-home {
	.card-background-page {
	  /*background: url('../../assets/images/dashboard.gif') no-repeat center;*/
	  font-family: $primary-font;
	  	#check {
	  		width: 90% !important;
	  	}

	  	/*.scroll-content.scroll-content.scroll-content {
			padding: 0px;
	    	
	  	}*/
	  	.food_header {
	  		span {
			 /* position: relative;*/
			  display: block;
			  background: orange;
			  text-align: center;
			}
			/*span:before {
				content: "";
				  position: absolute;
				  bottom: 0;
				  top: 0;
				  background: orange;
				  width: 9999px
			}
			span:before {
			  right: 100%; 
			}
			span:after {
				content: "";
				position: absolute;
				display: block;
				border: 0.7em solid orange;
			}
			span:after {
				  right: -1em;
				  top: 0;
				  border-left-width: 0.7em;
				  border-right-color: transparent;
			}*/
	  	}
	  
	  	.dashboard {
			z-index: 9999;
		  	padding: 10px 10px;
		  	overflow: hidden;
		  	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
		    .dashboard-title {
		    	display: flex;
		    	justify-content: space-between;
		    }
		    p:first-child {
		    	font-size: 16px;
		    	font-weight: Bold;
		    	padding: 2px 2px;
		    	display: inline-block;
		    }
		    p:last:child {
				display: flex;
				align-items: center;
		    }
		  	ul.activity {
		  		display: flex;
		  		justify-content: space-around;
		  		li {
		  			text-align: center;
		  			span {
						font-size: 30px;
		  			}
		  			p {
		  				font-size: 13px;
		  			}
		  		}
		  	}
	  	}

	  	.newsfeed {
	  		padding: 20px 0px;

	  		.newsfeed-item {
	  			margin-top: 70px;
	  			border-radius:40px 40px 0px 0px;
	  			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		    	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);

		    	&:hover {
		    		img {
		    			transform:scale(1.1);
		    		}
		    	}
		    	.part-1-header {
		    		display: flex;
		    		justify-content: flex-start;
		    		flex-direction: column;
		    		align-items: center;
		    		.img {
		    			width: 100px;
					    height: 100px;
					    border-radius: 50%;
					    overflow: hidden;
		    			display: flex;
		    			justify-content: center;
		    			align-items: center;
		    			border: 2px solid #ddd;
		    			margin-top: -50px;


		    			img {
		    				width:80px;
		    				height: 80px;
		    				border-radius: 50%;
		    				transition: all 0.3s ease-out;
		    			}

		    		}
		    		
		    	}

		    	.title {
		    		.author-name {
		    			margin:0px;
		    		}
		    	}

		    	.part-2-details {
		    		padding: 15px;
		    		p {
		    			text-align: justify;
		    		}

		    	}

		    	.part-3-footer {
		    		padding: 15px;
		    		display: flex;
		    		justify-content: space-between;
		    	}
	  		}
	  	}

	  	ion-card {
		    position: relative;
		    text-align: center;
	  	}

	  	.card-title {
		    position: absolute;
		    top: 36%;
		    font-size: 2.0em;
		    width: 100%;
		    font-weight: bold;
		    color: #fff;
	  	}

	  	.card-subtitle {
		    font-size: 1.0em;
		    position: absolute;
		    top: 52%;
		    width: 100%;
		    color: #fff;
	  	}

	}
}