<ion-header *ngIf="!searchBar">
  <ion-navbar class="menuIcons">
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>

     <ion-buttons end>
      <button ion-button icon-only (tap)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>


    <button ion-button menuToggle="right" end>
      <ion-icon name="ios-notifications"></ion-icon>
    </button>
    
  </ion-navbar>
</ion-header>

<ion-header *ngIf="searchBar">
  <ion-navbar>
    <ion-searchbar placeholder="Restaurant, Food etc..." (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>



<!-- search result -->
<ion-content class="card-background-page" padding>
 
  <div class="dashboard" *ngIf="searchBar">
    <ion-fab bottom right edge (tap)="openSearch()" class="backArrowIcon">
      <button ion-fab mini><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-fab>
    <div class="restaurant">
      <h1>Restaurant</h1>
      <ion-slides >
        <ion-slide id="check" *ngFor="let item of restaurants" (tap)="goRestaurant(item.id)">
          <ion-card>
            <img src="{{ item?.restaurant_photo[0]?.url }}">
            <ion-card-content>
              <ion-card-title>
               {{item.restaurant_name}}
                </ion-card-title>
              <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="food">
      <h1>Food</h1>
      <ion-slides >
        <ion-slide id="check" *ngFor="let item of food" (tap)="goFood(item.id)">
          <ion-card>
            <img src="assets/images/FoodCat/Soup.png">
            <ion-card-content>
              <ion-card-title>
               {{item.food_name}}
                </ion-card-title>
              <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
      
  </div>
  
  <!-- feed -->
  <div class="dashboard-feed" *ngIf="!searchBar">
    <div class="dashboard-title">
       {{msg}}
      <p>{{user.first_name}}'s Activity</p>
      <p><ion-icon name="pin"></ion-icon> <span> {{ getData?.thoroughfare }} ,{{ getData?.locality }}</span></p>
    </div>
    <ul class="list-unstyled list-inline activity">
      <li>
        <span>{{userInfo.total}}</span>
        <p>Reviews</p>
      </li>
      <li>
        <span>{{userInfo.food}}</span>
        <p>Food</p>
      </li>
      <li>
        <span>{{userInfo.visited}}</span>
        <p>Visited</p>
      </li>
    </ul>
  </div>

  <section *ngIf="!searchBar">
      <div class="food_header">
        <h2>
          <span>Food</span>
        </h2>
      </div>
  </section>

  <section class="news_feed" *ngIf="!searchBar">
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="two_feed">
        <ion-card>
          <img src="assets/images/FoodItem/food (1).jpg">
          <ion-card-content>
            <p>
            Rafsan
              </p>
            <p>
              price : 150tk
            </p>
            <p>
              Chicken Tikka
            </p>
            <p>
              Panshi Restaurant
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 class="two_feed">
        <ion-card>
          <img src="assets/images/FoodItem/food (1).jpg">
          <ion-card-content>
            <p>
            Rafsan
              </p>
            <p>
              price : 150tk
            </p>
            <p>
              Chicken Masala
            </p>
            <p>
              Panshi Restaurant
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row> 
    </ion-grid>
    <div>
      <div col-md-6 class="one_feed">
        <ion-card>
          <img src="assets/images/FoodItem/food (1).jpg">
          <ion-card-content>
            <p>
            Rafsan
              </p>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
      </div>
      <div col-md-6 class="one_feed">
        <ion-card>
          <img src="assets/images/FoodItem/food (1).jpg">
          <ion-card-content>
            <p>
            Rafsan
              </p>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
      </div>
      
    </div>
  </section> 
 
  
 <!--  <div class="newsfeed" *ngIf="!searchBar">
    <div class="newsfeed-item">
      <div class="part-1-header">
        <div class="img">
          <img src="http://rafsan.pro/wp-content/uploads/2017/09/profile_img.png" alt="" class="img-responsive center-block">
        </div>
      </div>
      <div class="title text-center">
         <p class="author-name">Rashemi Jani</p>
      </div>
      <div class="part-2-details">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
      </div>
      <div class="part-3-footer">
        <ion-icon name="alert"></ion-icon>
        <ion-icon name="alert"></ion-icon>
      </div>
    </div>
    <div class="newsfeed-item">
      <h1>Header</h1>
      <div class="part-1-header">
        <div class="img">
          <img src="http://rafsan.pro/wp-content/uploads/2017/09/profile_img.png" alt="" class="img-responsive center-block">
        </div>
      </div>
      <div class="title text-center">
         <p class="author-name">Rashemi Jani</p>
      </div>
      <div class="part-2-details">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
      </div>
      <div class="part-3-footer">
        <ion-icon name="alert"></ion-icon>
        <ion-icon name="alert"></ion-icon>
      </div>
    </div>
    <div class="newsfeed-item">
      <div class="part-1-header">
        <div class="img">
          <img src="http://rafsan.pro/wp-content/uploads/2017/09/profile_img.png" alt="" class="img-responsive center-block">
        </div>
      </div>
      <div class="title text-center">
         <p class="author-name">Rashemi Jani</p>
      </div>
      <div class="part-2-details">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
      </div>
      <div class="part-3-footer">
        <ion-icon name="alert"></ion-icon>
        <ion-icon name="alert"></ion-icon>
      </div>
    </div>
  </div> -->


</ion-content>