page-add-regular-details {
	.add-regular-details {
		padding: 0px;
		width: 100%;
		height: 100%;
		background: url('../assets/images/Intro/add_user_details.jpg') no-repeat center;
		background-size: cover;
		background-position: center;
		position: relative;
		.shadow {
			position: absolute;
			background: rgba(black,0.5);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.regular-details-wrapper {
			position: relative;
			z-index: 9999;
			.regular-details-intro {
				p {
					font-family: 'Cabin Sketch', cursive;
					color: white;
					font-size: 40px;
				}
			}

			.regular-details-content {
				.details {
					margin-top: 60px;
				}
				button {
					margin-top: 30px;
				}
				margin-left: 15px;
				margin-right: 15px;
				textarea {
					margin:auto;
					background: #a5a5a561;
					background-size: 10%;
					color:#e6e5eb;
					font-style: italic;
					display: inherit;
					width: 100%;		
				}
			}
		}
		
	}
	.scroll-content.scroll-content.scroll-content {
		padding: 0px;
    	overflow: hidden;
  	}
  	.pager {
		button{
			background: white;
			height: 40px;
			width: 40px;
			margin-left:-25%;
			border-radius: 50%;
			/*border:1px solid black;*/
			display: inline-block;
			margin:auto;
		}
		.white {
			background: white;
		}
	}
	
}
