page-food-profile {

			height: 100%;
			width: 100%;

		 	.profile{
		 		height: 30%;

		 		background: #e6e6e6;

		 		ion-slide{
		 			width: 100%;
		 			margin-top:-25%;
		 		
			 		ion-slide.swiper-slide {
				        left: 25%;
				    }
				    .slide-zoom {
				        background: #e6e6e6;
				        
				    }
				 
				    .thumb-img {
				      height: 100%;
				      width: 100%;
				      padding: 5px;
				      position: absolute;
					  
				    }


			    }			    
		    }

		 	
	// .reactBar{
	// 	width: 90%;
	// 	margin: auto;
	// 	ul.react {
	// 	  		display: flex;
	// 	  		justify-content: space-around;
	// 	  		li {
	// 	  			text-align: center;
	// 	  			button {
	// 					font-size: 30px;
	// 					color:#000;
	// 	  			}
	// 	  			p {
	// 	  				font-weight: Bold;
	// 	  				font-size: 16px;
	// 	  			}
	// 	  		}
	// 	}
	
	// }


	.dashboard {
		  	padding: 10px 10px;
		  	width: 90%;
			margin:10px auto;
		  	overflow: hidden;
		  	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);

			text-align: left;
				.center {		    	
			  		text-align: center;
			  		font-weight: bold;

				    .disabledbtn{
			    		color: #fff;
			    		font-size: 10px;
			    		padding: 4px 20px;
			    		border-radius: 4px;
			    		background: #424847;    		
			    	}
			    	.activebtn{
			    		color: #fff;
			    		font-size: 10px;
			    		padding: 4px 20px;
			    		border-radius: 4px;
			    		background: #488aff;			    						    		
			    	}

			    	.ios-heart-outline{
			    		color: #000;
			    		font-size: 15px;
			    		background: none;
			    		margin-bottom: 7%;
			    	}
			    	.ios-heart{
						color: red;
			    		font-size: 15px;
			    		background: none;
			    		margin-bottom: 7%;
			    	}	

		
			  	}
			    .dashboard-title {			    	
			    	
				    .ate{
			    		color: #000;
			    		font-size: 10px;
			    		padding: 0px 20px;			    		
			    	}
			    	display: flex;
			    	justify-content: space-between;
			    }
		    p:first-child {
		    	font-size: 16px;
		    	font-weight: Bold;
		    	padding: 2px 2px;
		    	display: inline-block;
		    }
		    p:last:child {
				display: flex;
				align-items: center;
		    }
		  	ul.activity {
		  		display: flex;
		  		justify-content: space-around;
		  		li {
		  			list-style: none;
		  			text-align: center;
		  			span {
						font-size: 30px;
		  			}
		  			p {
		  				font-size: 13px;
		  			}
		  		}
		  	}
	  	}

	.rating {
			width: 90%;
			margin:auto;
	  		.rating-item {
	  			margin-top: 70px;
	  			border-radius:40px 40px 0px 0px;
	  			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		    	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);

		    	&:hover {
		    		img {
		    			transform:scale(1.1);
		    		}		
		    	}
		    	.part-1-header {
		    		display: flex;
		    		justify-content: flex-start;
		    		flex-direction: column;
		    		align-items: center;
		    		.img {
		    			width: 100px;
					    height: 100px;
					    border-radius: 50%;
					    overflow: hidden;
		    			display: flex;
		    			justify-content: center;
		    			align-items: center;
		    			border: 2px solid #ddd;
		    			margin-top: -50px;


		    			img {
		    				width:80px;
		    				height: 80px;
		    				border-radius: 50%;
		    				transition: all 0.3s ease-out;
		    			}

		    		}
		    		
		    	}

		    	.title {
		    		text-align: center;
		    		font-weight: bold;
		    		margin-bottom: 0px;
		    	}

		    	.part-2-rating {
		    		fieldset{
							font-size: 10px;				
						}
					input{
						margin-bottom: 5px;
						width: 80%;
						height: 60px;
						border:1px solid gray;
						text-align: center;
					}
					textarea{
						width: 80%;
						height: 100px;
						border:1px solid gray;
						text-align: center;
					}
						ul {
						  padding: 0px;
						  text-align: center;
						  &.rating li {
						    padding: 5px 10px !important;
						    background: none;
						    color: black;
						    ion-icon {
						      font-size: 25px;
						    }
						  }
						}
					.rated{
						.set{
							margin-left:40%;
							margin-bottom:-5%;						
							fieldset{							
							text-align: center;
							font-size: 15px;
							}
							#select{
								text-align: end;
							}
						}
						
						#title{
							position: relative;
						}
						#desc{
							width: 80%;
						}
				
						fieldset{							
							text-align: center;
							font-size: 15px;
						}
						#title{
							position: relative;
						}
						#select{
							float: right;
							right: 0;
						}
					}
					p{
						font-size: 15px;
					}
		    	}

		    	.part-3-footer {
		    		padding: 15px;
		    		text-align:center;
		    		font-style: italic;
		    	}
	  		}
	  	}
	  .reviews{
	  			.title{
	  				text-align: center;
	  				color:gray;
	  			}
	  		  	.review-1 {
	  		  		.profile-img{
	  		  			width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						display: flex;
						justify-content:space-between;
						float: left;
						margin-right: 10px;
	  		  		}
					padding: 15px;
					width: 90%;
					margin:0 auto;
				    background: #424847;
				    border-radius: 3px;
				    color: white;
				    text-align: left;
				    margin-top: 20px;				   
				}
				.footer{
					text-align: center;
				}
		}
	
}
